# coding: utf-8

"""
    Fonts API

    Everything Fonts Font API gives you API access to fonts, font properties and font tools. You can get all the details about font upto the individual glyph level and do amazing things with it. This is a first of its kind on the cloud. Font conversion API allows you to easily convert between various font formats using REST API. ttf,otf,svg,pfa,pfb, svg, woff,woff2, eot, ufo and several other formats are supported. Here are the individual API links:    ## Font Management API ##   All the things you need to manage a font on the cloud. [Click here to subscribe](https://everythingfonts.com/api/font)   ## @font-face generation API ##   Easily generate @font-face kit from variety of font formats. This service lets you generate ttf, otf, svg and woff formats that the browsers understand along with the relevant CSS definition. [Click here to subscribe](https://everythingfonts.com/api/ffgen)    ## Font Coversion API ##   Convert from one font format to another. Many many font format conversions are supported. [Click here to subscribe](https://everythingfonts.com/api/convert)   ## Font Subsetting API ##   Subset fonts easily. You can specify unicode range or individual characters for subsettings. [Click here to subscribe](https://everythingfonts.com/api/subset)   ## Font Hinting API ##   Font hinting on the cloud. Multiple hinting schemes supported. [Click here to subscribe](https://everythingfonts.com/api/hinting)   # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class FontApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def font_fontid_glyph_id_get(self, fontid, id, **kwargs):  # noqa: E501
        """font_fontid_glyph_id_get  # noqa: E501

        Get the details about a single glyph.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_fontid_glyph_id_get(fontid, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fontid: Font ID (required)
        :param str id: Glyph ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_fontid_glyph_id_get_with_http_info(fontid, id, **kwargs)  # noqa: E501
        else:
            (data) = self.font_fontid_glyph_id_get_with_http_info(fontid, id, **kwargs)  # noqa: E501
            return data

    def font_fontid_glyph_id_get_with_http_info(self, fontid, id, **kwargs):  # noqa: E501
        """font_fontid_glyph_id_get  # noqa: E501

        Get the details about a single glyph.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_fontid_glyph_id_get_with_http_info(fontid, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fontid: Font ID (required)
        :param str id: Glyph ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fontid', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_fontid_glyph_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fontid' is set
        if ('fontid' not in params or
                params['fontid'] is None):
            raise ValueError("Missing the required parameter `fontid` when calling `font_fontid_glyph_id_get`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_fontid_glyph_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fontid' in params:
            path_params['fontid'] = params['fontid']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{fontid}/glyph/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_fontid_glyph_id_image_get(self, fontid, id, format, **kwargs):  # noqa: E501
        """font_fontid_glyph_id_image_get  # noqa: E501

        Get the image of a single glyph.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_fontid_glyph_id_image_get(fontid, id, format, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fontid: Font ID (required)
        :param str id: Glyph ID (required)
        :param str format: Format of the image returned (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_fontid_glyph_id_image_get_with_http_info(fontid, id, format, **kwargs)  # noqa: E501
        else:
            (data) = self.font_fontid_glyph_id_image_get_with_http_info(fontid, id, format, **kwargs)  # noqa: E501
            return data

    def font_fontid_glyph_id_image_get_with_http_info(self, fontid, id, format, **kwargs):  # noqa: E501
        """font_fontid_glyph_id_image_get  # noqa: E501

        Get the image of a single glyph.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_fontid_glyph_id_image_get_with_http_info(fontid, id, format, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fontid: Font ID (required)
        :param str id: Glyph ID (required)
        :param str format: Format of the image returned (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fontid', 'id', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_fontid_glyph_id_image_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fontid' is set
        if ('fontid' not in params or
                params['fontid'] is None):
            raise ValueError("Missing the required parameter `fontid` when calling `font_fontid_glyph_id_image_get`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_fontid_glyph_id_image_get`")  # noqa: E501
        # verify the required parameter 'format' is set
        if ('format' not in params or
                params['format'] is None):
            raise ValueError("Missing the required parameter `format` when calling `font_fontid_glyph_id_image_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fontid' in params:
            path_params['fontid'] = params['fontid']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{fontid}/glyph/{id}/image', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_fontid_glyph_list_get(self, fontid, **kwargs):  # noqa: E501
        """font_fontid_glyph_list_get  # noqa: E501

        Get the details about all the glyphs of the font(browse).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_fontid_glyph_list_get(fontid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fontid: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_fontid_glyph_list_get_with_http_info(fontid, **kwargs)  # noqa: E501
        else:
            (data) = self.font_fontid_glyph_list_get_with_http_info(fontid, **kwargs)  # noqa: E501
            return data

    def font_fontid_glyph_list_get_with_http_info(self, fontid, **kwargs):  # noqa: E501
        """font_fontid_glyph_list_get  # noqa: E501

        Get the details about all the glyphs of the font(browse).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_fontid_glyph_list_get_with_http_info(fontid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fontid: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fontid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_fontid_glyph_list_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fontid' is set
        if ('fontid' not in params or
                params['fontid'] is None):
            raise ValueError("Missing the required parameter `fontid` when calling `font_fontid_glyph_list_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fontid' in params:
            path_params['fontid'] = params['fontid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{fontid}/glyph/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_get(self, **kwargs):  # noqa: E501
        """font_get  # noqa: E501

        Gets a `Font` with a given `id`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.font_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def font_get_with_http_info(self, **kwargs):  # noqa: E501
        """font_get  # noqa: E501

        Gets a `Font` with a given `id`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_coverage_get(self, id, **kwargs):  # noqa: E501
        """font_id_coverage_get  # noqa: E501

        Get the unicode coverage of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_coverage_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_coverage_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_coverage_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def font_id_coverage_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """font_id_coverage_get  # noqa: E501

        Get the unicode coverage of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_coverage_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_coverage_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_coverage_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}/coverage', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_file_fileid_get(self, id, fileid, **kwargs):  # noqa: E501
        """font_id_file_fileid_get  # noqa: E501

        Get the details about a single font file associated with the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_file_fileid_get(id, fileid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :param str fileid: File ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_file_fileid_get_with_http_info(id, fileid, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_file_fileid_get_with_http_info(id, fileid, **kwargs)  # noqa: E501
            return data

    def font_id_file_fileid_get_with_http_info(self, id, fileid, **kwargs):  # noqa: E501
        """font_id_file_fileid_get  # noqa: E501

        Get the details about a single font file associated with the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_file_fileid_get_with_http_info(id, fileid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :param str fileid: File ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'fileid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_file_fileid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_file_fileid_get`")  # noqa: E501
        # verify the required parameter 'fileid' is set
        if ('fileid' not in params or
                params['fileid'] is None):
            raise ValueError("Missing the required parameter `fileid` when calling `font_id_file_fileid_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'fileid' in params:
            path_params['fileid'] = params['fileid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}/file/{fileid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_files_get(self, id, **kwargs):  # noqa: E501
        """font_id_files_get  # noqa: E501

        Get the files associated with the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_files_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_files_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_files_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def font_id_files_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """font_id_files_get  # noqa: E501

        Get the files associated with the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_files_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_files_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_files_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}/files', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_get(self, id, **kwargs):  # noqa: E501
        """font_id_get  # noqa: E501

        Get the metadata details of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def font_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """font_id_get  # noqa: E501

        Get the metadata details of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_image_get(self, id, type, **kwargs):  # noqa: E501
        """font_id_image_get  # noqa: E501

        Get the details about a single font file associated with the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_image_get(id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :param str type: Font preview type. Must be one of the following values: preview/bigpreview/waterfall/contact (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_image_get_with_http_info(id, type, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_image_get_with_http_info(id, type, **kwargs)  # noqa: E501
            return data

    def font_id_image_get_with_http_info(self, id, type, **kwargs):  # noqa: E501
        """font_id_image_get  # noqa: E501

        Get the details about a single font file associated with the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_image_get_with_http_info(id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :param str type: Font preview type. Must be one of the following values: preview/bigpreview/waterfall/contact (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_image_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_image_get`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `font_id_image_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}/image', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_license_get(self, id, **kwargs):  # noqa: E501
        """font_id_license_get  # noqa: E501

        Get the license text of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_license_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_license_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_license_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def font_id_license_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """font_id_license_get  # noqa: E501

        Get the license text of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_license_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_license_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_license_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}/license', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def font_id_name_get(self, id, **kwargs):  # noqa: E501
        """font_id_name_get  # noqa: E501

        Get the name of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_name_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.font_id_name_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.font_id_name_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def font_id_name_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """font_id_name_get  # noqa: E501

        Get the name of the font.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.font_id_name_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Font ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method font_id_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `font_id_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-EverythingFonts-Api-Secret']  # noqa: E501

        return self.api_client.call_api(
            '/font/{id}/name', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
